.header {
    overflow: hidden;
    background-color: #322E2E;
    padding: 20px 300px;
    margin: auto;
    position: sticky;
    top: 0;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: red;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.hidden {
    display: none;
}

.footer {
    width: 1140px;
    background-color: #322E2E;
    height: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.performer {
    color: white;
    margin-right: 5px;
}

.mailTo {
    color: white;
}
